.banner {
    &__wrapper {
        @include flex(flex, center, center);

        width: 100%;
        padding: 68px 0 114px;

        @include media(tablet) {
            padding: 48px 0 80px;
        }

        @include media(mobile) {
            padding: 40px 0 60px;
        }
    }

    &.container {
        @include flex(flex, start, space-between);

        @include media(mobile-xl) {
            padding-right: 0;
        }

        @include media(mobile) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 16px;
            padding-left: 8px;
            gap: 40px;
        }
    }

    &-info {
        @include flex(flex, start, start);

        flex-direction: column;
        max-width: 625px;

        @include media(tablet) {
            max-width: 500px;
        }

        @include media(mobile-xl) {
            max-width: 400px;
        }

        @include media(mobile) {
            align-items: center;
            justify-content: center;
            max-width: 100%;
        }
    }

    &-title {
        @include flex(flex, start, start);

        flex-direction: column;
        color: map-get($colors, c-h1);
        font-feature-settings: 'liga' off;
        font-size: 50px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -1.5px;

        br {
            display: none;
        }

        @include media(tablet) {
            font-size: 40px;
            letter-spacing: -1.2px;
        }

        @include media (mobile-xl) {
            font-size: 32px;
            letter-spacing: -0.96px;
        }

        @include media(mobile) {
            max-width: 343px;
            text-align: center;
            align-items: center;
            justify-content: center;

            br {
                display: block;
            }
        }
    }

    &-subtitle {
        color: map-get($colors, bg-footer-box);
        font-size: 20px;
        font-weight: 700;
        line-height: 160%;
        margin: 16px 0;

        @include media(tablet) {
            max-width: 436px;
        }

        @include media (mobile-xl) {
            font-size: 18px;
            max-width: 375px;
        }

        @include media(mobile) {
            text-align: center;
            max-width: 270px;
            margin: 12px 0;
        }
    }

    &-text {
        color: map-get($colors, c-text-grey);
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;

        @include media(mobile) {
            max-width: 300px;
            text-align: center;
        }
    }

    &-image {
        @include flex(flex, center, center);

        width: 50%;
        
        img {
            width: 100%;
            height: auto;
        }

        @include media(mobile) {
            width: 100%;
        }
    }

    &-img {
        &-desktop {
            @include media(tablet) {
                display: none;
            }
        }

        &-tablet {
            display: none;

            @include media(tablet) {
                display: block;
            }

            @include media(mobile) {
                display: none;
            }
        }

        &-mobile {
            display: none;

            @include media(mobile) {
                display: block;
            }
        }
    }

    &-button {
        @include flex(flex, end, start);

        position: relative;
        white-space: no-wrap;
        margin-top: 40px;
        gap: 80px;

        @media(max-width: 900px) {
            gap: 10px;
        }

        @include media(mobile) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            gap: 32px;
        }
            
    }

    &-partners {
        @include flex(flex, center, center);

        gap: 60px;

        @media(max-width: 900px) {
            gap: 10px;
        }

        @include media(mobile) {
            gap: 24px; 
        }
    }

    &-reviews {
        @include flex(flex, center, start);

        gap: 20px;
        margin-top: 70px;
        flex-wrap: nowrap;
        width: 500px;

        &-col {
            @include flex(flex, start, start);

            flex-direction: column;

            @include media(mobile) {
                align-items: center;
                justify-content: center;
            }
        }

        &-colored {
            color: #0B5BE0;
            font-family: "Plus Jakarta Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
        }

        &-text {
            color: #57647D;
            font-family: "Plus Jakarta Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
        }

        @include media(mobile) {
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            margin-top: 32px;
            width: fit-content;
        }
    }
}