.footer {
    &__wrapper {
        @include flex(flex, center, center);

        width: 100%;
        background: map-get($colors, bg-footer);
        padding: 65px 0;
    }

    &.container {
        @include flex(flex, center, center);

        max-width: 1423px;
        flex-direction: column;
        gap: 32px;
    }

    &-box {
        @include flex(flex, center, space-between);

        width: 100%;
        background: map-get($colors, bg-footer-box);
        border-radius: 24px;
        padding: 34px 30px 35px;
        gap: 20px;

        .button-form {
            @include flex(flex, center, center);

            width: 260px;
            min-width: 260px;
            box-shadow: none;

            .button-title {
                color: map-get($colors, c-white);
                font-size: 16px;
                font-weight: 700;
            }
        }

        @include media(mobile) {
            flex-direction: column;
            justify-content: center;
            padding: 40px 24px;
            gap: 24px;
        }
    }

    &-info {
        @include flex(flex, start, start);

        flex-direction: column;
        gap: 16px;

        @include media(mobile) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-logo {
        display: flex;
    }

    &-text {
        color: map-get($colors, c-white);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.14px;
        max-width: 794px;

        @include media(tablet) {
            max-width: 593px;
        }

        @include media(mobile) {
            max-width: 100%;
        }
    }

    &-contacts {
        @include flex(flex, center, start);

        gap: 24px;
        width: 100%;

        &-text {
            color: map-get($colors, c-white-2);
            font-size: 20px;
            font-weight: 700;

            @include media(mobile) {
                width: 100%;
                text-align: center;
            }
        }

        @include media(mobile) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &-phone {
        @include flex(flex, center, start);

        gap: 9px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &-ico {
            width: 24px;
            height: 24px;
        }

        &-text {
            color: map-get($colors, c-white);
            font-variant-numeric: lining-nums tabular-nums;
            font-weight: 500;
            text-transform: capitalize;
        }

        &:hover {
            .footer-phone-ico path {
                fill: map-get($colors, c-border);
            }

            .footer-phone-text {
                color: map-get($colors, c-border);
            }
        }
    }

    &-media {
        @include flex(flex, center, center);

        gap: 16px;

        &-ico {
            @include flex(flex, center, center);

            cursor: pointer;

            svg {
                width: 32px;
                height: 32px;
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-bottom {
        @include flex(flex, center, space-between);

        width: 100%;

        @include media(mobile) {
            flex-direction: column;
            justify-content: center;
            gap: 24px;
        }
    }

    &-copyright {
        color: map-get($colors, c-white);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.205px;
        opacity: 0.5;

        br {
            display: none;

            @include media(mobile) {
                display: block;
            }
        }

        @include media(mobile) {
            text-align: center;
        }
    }

    &-links {
        @include flex(flex, center, center);

        gap: 75px;

        &-text {
            color: map-get($colors, c-white);
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.205px;
            opacity: 0.5;
        }

        @include media(mobile) {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }
    }
}