.reviews {
    &__wrapper {
        @include flex(flex, center, center);

        flex-direction: column;
        width: 100%;
        gap: 60px;
        overflow: hidden;
        padding-bottom: 196px;

        @include media(tablet) {
            padding-bottom: 96px;
        }

        @include media(mobile) {
            padding-bottom: 60px;
        }

        .title {
            color: #032D65;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: -1.2px;
            
            @include media(mobile-xl) {
                max-width: 600px;
                text-align: center;
            }

            @include media(mobile) {
                max-width: 343px;
                font-size: 32px;
            }
        }
    }

    &.container {
        @include flex(flex, center, center);

        max-width: 1400px;
        padding: 0;

        @media all and (max-width: 1400px) {
            max-width: 844px;
        }

        @include media(mobile) {
            padding: 100px 16px 0;
        }
    }

    &-slider {
        @include flex(flex, center, center);

        width: 100%;
        flex-direction: column;
    }

    &-slide {
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        border-radius: 24px;
        border: 1px solid map-get($colors, c-slide-border);
        height: 420px;
        gap: 16px;
        margin-bottom: 35px;
        max-width: 1320px;

        @media all and (max-width: 1400px) {
            flex-direction: column;
            height: 732px;
            gap: 40px;
            margin-bottom: 0;
        }

        @include media(mobile-xl) {
            padding: 40px;
            height: 800px;
        }

        @include media(mobile) {
            gap: 30px;
            padding: 30px 22px 31px;
            height: 1200px;
            justify-content: start;
        }
    }

    &-icon {
        @include flex(flex, center, center);

        position: absolute;
        right: 40px;
        top: 47px;

        svg {
            width: 48px;
            height: 48px;
        }

        @media all and (max-width: 1400px) {
            top: 40px;
        }

        @include media(mobile-xl) {
            display: none;
        }
    }

    &-left {
        @include flex(flex, center, center);

        position: relative;
        z-index: 0;

        @media all and (max-width: 1400px) {
            flex-direction: row-reverse;
        }

        @include media(mobile) {
            flex-direction: column;
            gap: 17px;
        }
    }

    &-image {
        @include flex(flex, center, center);

        @media all and (max-width: 1400px) {
            width: 394px;
            height: 242px;

            img {
                width: 100%;
                height: auto;
            }
        }

        @include media(mobile) {
            width: 100%;
            height: auto;
        }
    }

    &-client {
        @include flex(flex, start, start);

        flex-direction: column;
        width: 410px;
        height: 208px;
        padding: 20px 30px;
        gap: 20px;
        border-radius: 16px;
        background: map-get($colors, c-white);
        box-shadow: -4px 4px 6px 0 rgba(0, 21, 49, 0.06);
        position: absolute;
        left: -110px;
        bottom: -95px;

        @media all and (max-width: 1400px) {
            width: 382px;
            height: 178px;
            position: relative;
            bottom: 0;
            left: 0;
            margin-right: -135px;
            margin-top: 85px;

            &.cgr {
                height: 204px;
            }
        }

        @include media(mobile) {
            margin-top: 0;
            margin-right: 0;
            width: 100%;
            height: fit-content;

            &.cgr {
                height: fit-content;
            }
        }

        &-img {
            @include flex(flex, center, center);
        }

        &-name {
            color: map-get($colors, c-h1);
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.48px;
        }

        &-text {
            color: map-get($colors, c-text-grey);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
        }
    }

    &-header {
        @include flex(flex, start, start);
        
        gap: 16px;

        &-info {
            @include flex(flex, start, start);

            flex-direction: column;
            gap: 16px;
        }
    }

    &-info {
        @include flex(flex, start, start);

        flex-direction: column;
        gap: 20px;
    }

    &__info {
        @include flex(flex, start, start);

        flex-direction: column;
        width: 670px;

        @media all and (max-width: 1400px) {
            align-items: center;
            justify-content: center;
            width: auto;
        }

        @include media(mobile-xl) {
            .reviews-title,
            .reviews-date {
                display: none;
            }
        }

        @include media(mobile) {
            width: 100%;
        }
    }

    &-title {
        color: map-get($colors, c-h1);
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;

        @include media(mobile) {
            font-size: 20px;
        }
    }

    &-date {
        color: map-get($colors, c-text-grey);
        font-feature-settings: 'liga' off;
        font-size: 16px;
        font-weight: 600;
        margin-top: 5px;

        br {
            display: none;

            @include media(mobile) {
                display: block;
            }
        }
    }

    &-stat {
        @include flex(flex, start, start);

        gap: 20px;
        margin-top: 20px;

        @media all and (max-width: 1400px) {
            margin-top: 40px;
        }

        @include media(mobile) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
        }
    }

    &-item {
        @include flex(flex, start, start);

        flex-direction: column;
        padding: 24px 30px;
        border-radius: 12px;
        background: map-get($colors, c-white);
        box-shadow: 0 18.767px 31.279px 0 rgba(0, 0, 0, 0.06);

        @include media(mobile) {
            width: 100%;
            max-width: 300px;
        }

        &-head {
            @include flex(flex, center, start);

            gap: 24px;
            height: 65px;
        }

        &-logo {
            @include flex(flex, center, center);

            svg {
                width: 56px;
                height: 48px;
            }
        }

        &-col {
            @include flex(flex, start, start);

            flex-direction: column;
            gap: 5px;
        }

        &-name {
            color: map-get($colors, c-text-grey);
            font-size: 16px;
            font-weight: 600;
        }

        &-graph {
            @include flex(flex, center, start);

            gap: 9px;
        }

        &-sum {
            color: map-get($colors, c-h1);
            font-size: 24px;
            font-weight: 700;
        }

        &-stroke {
            @include flex(flex, center, center);

            svg {
                width: 30px;
                height: 16px;
            }

            @include media(mobile) {
                display: none;
            }
        }

        &-result {
            @include flex(flex, start, space-between);

            width: 100%;
            flex-wrap: wrap;
            row-gap: 10px;
            margin-top: 24px;
        }

        &-info {
            @include flex(flex, start, start);

            flex-direction: column;
            gap: 10px;
            width: 50%;

            @include media(mobile) {
                width: 108px;
            }

            &.fit-content {
                width: fit-content;
            }
        }

        &-elem {
            color: map-get($colors, c-text-grey);
            font-size: 16px;
            font-weight: 600;

            &.bixi {
                height: 24px;
            }
        }

        &-stat {
            color: map-get($colors, c-h1);
            font-size: 24px;
            font-weight: 700;
        }

        &-inline {
            @include flex(flex, center, space-between);

            width: 100%;
        }

        &.bixi {
            width: 269px;

            @include media(mobile) {
                width: 100%;
            }
        }
    }

    &-mobile {
        display: none;

        @include media(mobile-xl) {
            @include flex(flex, center, space-between);

            width: 100%;
            margin-bottom: 10px;
        }

        &-info {
            @include flex(flex, start, start);

            flex-direction: column;
        }

        .reviews-icon {
            @include flex(flex, center, center);
            
            position: relative;
            top: auto;
            right: auto;

            svg {
                width: 48px;
                height: 48px;
            }
        }
    }

    &-ico {
        &-info {
            @include flex(flex, center, center);

            svg {
                width: 24px;
                height: 24px;    
            }
        }
    }

    .slider-arrow {
        background: none;
    }

    .slick-dots {
        @include flex(flex, center, center);
    
        position: absolute;
        bottom: -100px;
        width: 100%;
        gap: 39px;
        cursor: pointer;

        @include media(mobile) {
            bottom: auto;
            top: -100px;
        }
    }

    .slider-dots {
        padding: 0;

        li {
            width: 12px;
            height: 12px;
            margin: 0;

            button {
                padding: 0 4px;
                width: 12px;
                height: 12px;

                &::before {
                    width: 12px;
                    height: 12px;
                    line-height: 12px;
                    color: map-get($colors, c-dot);
                    opacity: 1;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        color: map-get($colors, c-border);
                    }
                }
            }
        }
    }
}