$colors: (
    c-white: #FFFFFF,
    c-white-2: #E9E9F2,
    c-border: #F46337,
    c-h1: #032D65,
    c-text-grey: #57647D,
    c-main: #1E1F4B,
    c-text-black: #001B48,
    c-before-border: #518FF5,
    c-slide-border: #B9B9B9,
    c-dot: #EDEDED,

    bg-footer: #073D97,
    bg-footer-box: #0B5BE0,
    bg-brands: #F3F8FF,
);
